{% extends "layout.html" %}

{% block title %}
    BUY
{% endblock %}

{% block main %}
<h1>Buy</h1>
<h4>Cash: {{ cash }}</h4>
    <form action="{{ url_for('buy') }}" method="post">
        <label for="shares">Shares:</label>
        <input type="text" name="shares" id="shares" placeholder="12">
        <br>
        <label for="symbol">Symbol:</label>
        <input type="text" name="symbol" id="symbol" placeholder="Symbol">
        <br>
        <button type="submit" class="btn btn-primary">Buy shares</button>
    </form>
{% endblock %}
